:host {
  display: block;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1rem 1.5rem;
}
