<header [style.background-color]="preference.selectedBackgroundColor">
  <h1>{{ title() }}</h1>
  <hr />

  <nav class="crumbs">
    <ol>
      <li class="crumb">
        <a routerLink="/welcome" routerLinkActive="active">Welcome</a>
      </li>
      <li class="crumb">
        <a routerLink="/basic" routerLinkActive="active">Basic</a>
      </li>
      <li class="crumb">
        <a routerLink="/bonjour/bob" routerLinkActive="active">Bonjour</a>
      </li>
      <li class="crumb">
        <a routerLink='/bye' [queryParams]="{prenom: 'bob'}">Bye</a>
      </li>
    </ol>
  </nav>
</header>
